<div style="max-width:800px;max-height:810px;">
  <div class="layout-column flex">
    {{paper-input flex=25 label="Listing Title" value=item_name onChange=(action (mut item_name))}}
    {{paper-input flex=25 label="Description" value=item_desc onChange=(action (mut item_desc))}}
    {{paper-input flex=25 label="Price" value=price onChange=(action (mut price))}}
  </div>

  <div>
    <button {{action "onSubmit" item_name item_desc price}} class="button">Submit</button>
  </div>
</div>
