// Define desired color palettes.
$primary: "blue-grey";
$accent: "pink";
$warn: "red";

// Import the rest of ember-paper.
@import "ember-paper";

// Custom
.nav-login {
  margin-left: auto;
}

.content {
  padding: 5%;
  background-color: #eee8d5;
}

.form {
  padding: 10%;
}
