<div class="container">
  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#link-to 'index'}}     
        {{#paper-button}}The Bartering Ram{{/paper-button}}
      {{/link-to}}
      {{#paper-button}}New Listing{{/paper-button}}
      {{#paper-button}}My Listings{{/paper-button}}

      <div class="nav-login">
        {{#if session.currentUser}}
          {{#paper-button action='logout'}}Logout{{/paper-button}}
        {{else}}
          {{#link-to 'login'}}
            {{#paper-button}}Login{{/paper-button}}
          {{/link-to}}
          {{#link-to 'register'}}
            {{#paper-button}}Register{{/paper-button}}
          {{/link-to}}
        {{/if}}
      </div>
    </div>
  {{/paper-toolbar}}

  <div class="flex layout-column">
    {{outlet}}
  </div>
</div>
