<div class="content">
  <div class="layout-row layout-wrap">
    {{#each model.items as |item|}}
    <div class="flex-25 item-card">
      {{#paper-card as |card|}}
        {{card.image src=item.img_url alt="Washed Out" title="Washed Out"}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}{{item.item_name}}{{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#card.content}}
          <p>
            {{item.item_desc}}
          </p>
        {{/card.content}}
        {{#card.actions}}
          {{contact-seller}}

          {{#paper-button}}Buy{{/paper-button}}
        {{/card.actions}}
      {{/paper-card}}
    </div>
    {{/each}}
  </div>
</div>
