
{{input name="username" placeholder="Login" value=username}}

{{input name="password" placeholder="Password" type="password" value=password}}

<button {{action 'authenticate'}}>Login</button>

{{outlet}}
